<div class="container-fluid">
  <div class="row" ng-if="vm.viewdata">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Book Details&nbsp;:&nbsp;{{ vm.viewdata.title }}
      </div>
      <div class="panel-body">
        <detail-row label="'Title'" content="vm.viewdata.title"></detail-row>
        <detail-row label="'Author'" content="vm.viewdata.author"></detail-row>
        <detail-row
          label="'Published'"
          content="vm.viewdata.published"
        ></detail-row>
        <detail-row
          label="'Categories'"
          content="vm.viewdata.category"
        ></detail-row>
      </div>
    </div>
  </div>
  <div class="row btncontainer">
    <a href="#!/" class="btn btn-primary pull-right"
      ><i class="fa fa-chevron-left mr10"></i>Back</a
    >
  </div>
</div>
